<div class="grid">
    <div class="col-12 md:col-6">
        @for (source of sources().slice(0, sources().length / 2); track $index) {
        <div class="shadow-4 bg-white border-round-xl" >
            <div class="text-lg mb-2" [routerLink]="['/sources', source.id]" style="color: #2C3DBB; cursor: pointer; font-weight: bold;">
                <span class="border mt-1">
                    {{source.name}}
                </span>
            </div>
            @if (articlesBySource().get(source.id)?.length) {
                @for (article of articlesBySource().get(source.id)?.slice(0, 2); track $index) {
                    <div class="mx-2 py-1 px-2" (click)=redirectTo(article) style="cursor: pointer;">
                        <p class="text-sm text-600 m-0">{{article.name}}</p>
                        <hr class="my-1">
                    </div>
                }
            } @else {
                <p class="text-sm">{{ 'loading' | translate }}</p>
            }
        </div>
        <div class="p-1"></div>
        }
    </div>
    <div class="col-12 md:col-6">
        @for (source of sources().slice(sources().length / 2); track $index) {
        <div class="shadow-4 bg-white border-round-xl">
            <div class="text-lg mb-2" [routerLink]="['/sources', source.id]" style="color: #2C3DBB; cursor: pointer; font-weight: bold;"> 
                <span class="border mt-1">
                    {{source.name}}
                </span>
            </div>
            @if (articlesBySource().get(source.id)?.length) {
                @for (article of articlesBySource().get(source.id)?.slice(0, 2); track $index) {
                    <div class="mx-2 py-1 px-2" (click)=redirectTo(article) style="cursor: pointer;">
                        <p class="text-sm text-600 m-0">{{article.name}}</p>
                        <hr class="my-1">
                    </div>
                }
            } @else {
                <p class="text-sm">{{ 'loading' | translate }}</p>
            }
        </div>
        <div class="p-1"></div>
        }
    </div>
</div>