<div class="header">
    <div class="header-content">
      <div class="logo-container">
        <a href="/home">
          <img src="images/logo.png" alt="Logo" class="logo" style="cursor: pointer;">
        </a>
        <span class="app-name">{{ 'app_name' | translate }}</span>
      </div>
  

      <div class="burger-icon" (click)="toggleMenu()">
        &#9776;
      </div>
  
     
      <div class="menu" [ngClass]="{ 'active': menuOpen }">
        <span (click)="redirecTo('/source/category', 'economie')">{{ 'MENU.ECONOMY' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'politique')">{{ 'MENU.POLITICS' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'technologie')">{{ 'MENU.TECHNOLOGIE' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'sport')">{{ 'MENU.SPORTS' | translate }}</span>
        <span (click)="redirecTo('/sources')">{{ 'MENU.SOURCES' | translate }}</span>
      </div>
  
     
      <div class="language-icon">
        <p-chip>
          <i class="pi pi-language" (click)="setLanguage()"></i>
        </p-chip>
      </div>
    </div>
</div> 
  
<div class="p-1"></div>

<div style="padding-left: 10% !important; padding-right: 10% !important;">
    <div class="flex justify-content-between align-items-center">
        <div class="flex-1">
            @if (primaryPub()) {
                <a [href]="primaryPub()?.url" target="_blank">
                    <img [src]="'data:image/jpeg;base64,' + primaryPub()?.image" [alt]="primaryPub()?.name" style="width: 100%; height: 80px;">
                </a>
            }
        </div>
        <div class="flex-1">
            @if (secondaryPub()) {
                <a [href]="secondaryPub()!.url" target="_blank">
                    <img [src]="'data:image/jpeg;base64,' + secondaryPub()!.image" style="width: 100%; height: 80px;"
                        [alt]="secondaryPub()!.name">
                </a>
            }
        </div>
    </div>
</div>

<div class="p-1"></div>