<div class="header">
    <div class="header-content">
      <div class="logo-container">
        
        <img [routerLink]="['/home']" src="images/logo.png" alt="Logo" class="logo" style="cursor: pointer;">
        
        <span class="app-name">{{ 'app_name' | translate }}</span>
      </div>
  

      <div class="burger-icon" (click)="toggleMenu()">
        &#9776;
      </div>
  
     
      <div class="menu" [ngClass]="{ 'active': menuOpen }">
        <span (click)="redirecTo('/source/category', 'economie')">{{ 'MENU.economy' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'politique')">{{ 'MENU.politics' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'technologie')">{{ 'MENU.technologie' | translate }}</span>
        <span (click)="redirecTo('/source/category', 'sport')">{{ 'MENU.sports' | translate }}</span>
        <span (click)="redirecTo('/sources')">{{ 'MENU.SOURCES' | translate }}</span>
      </div>
  
     
      <div class="language-icon"> 
        <p-chip>
          <i class="pi pi-language" (click)="setLanguage()"></i>
        </p-chip>
      </div>
    </div>
</div> 
  
<div class="p-1"></div>

<div style="padding-left: 10% !important; padding-right: 10% !important;">
    <div class="flex justify-content-between align-items-center">
      <div class="flex-1">
        @if (primaryPub() && primaryPub()?.image) {
          <a [href]="primaryPub()?.url" target="_blank">
            <img class="pub-image"
                 [src]="'data:image/jpeg;base64,' + primaryPub()?.image"
                 [alt]="primaryPub()?.name"
                 style="width: 100%; height: 80px;">
          </a>
        }
      </div>
      <div class="flex-1">
        @if (secondaryPub() && secondaryPub()!.image) {
          <a [href]="secondaryPub()!.url" target="_blank">
            <img class="pub-image"
                 [src]="'data:image/jpeg;base64,' + secondaryPub()!.image"
                 [alt]="secondaryPub()!.name"
                 style="width: 100%; height: 80px;">
          </a>
        }
      </div>
      
    </div>
</div>

<div class="p-1"></div>