/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0 !important;
  background: linear-gradient(135deg, #BFD7FF, #EBF2FF) !important;
  min-height: 100vh;
}

.body-container{
  padding-left: 10% !important;
  padding-right: 10% !important;
}